<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>사용자 데이터</title>
</head>

<body>
    <h1> 사용자 테이블 </h1>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Age</td>
                <td>Birthdate</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for user in data %}
            <tr>
                <td>{{ user.ID }}</td>
                <td>{{ user.Name }}</td>
                <td>{{ user.Age }}</td>
                <td>{{ user.Birthdate }}</td>
                <td>{{ user.Address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>