h1 {
    text-align: center;
}

form {
    text-align: right;
}

input {
    width: 10rem;
    margin-bottom: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    font-weight: bold;
    background-color: rgb(200, 200, 200);
}

td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    text-decoration: underline;
    color: rgb(29, 159, 219);
}

.pagination {
    text-align: center;
}

.pagination a {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #e6e6e6;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 1px;
}

#active {
    background-color: rgb(103, 103, 103);
}

#backHome {
    width: 10rem;
}