<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>사용자 데이터</title>
</head>

<body>
    <h1> 사용자 검색 </h1>
    <form action="/search" method="GET">
        <input name="q" type="text" placeholder="사용자 이름을 입력하세요">
        <button>검색</button>
    </form>
    <table>
        <thead>
            <tr>
                {% for key in header %}
                <td>{{ key }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="tableBody">
            {% for user in data %}
            <tr>
                {% for key in header %}
                <td><a href="/user/{{ user.ID }}">{{ user[key] }}</a></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <a href="/" id="backHome">Back to List</a>
    </div>
</body>

</html>